@font-face {
  font-family: AndikaW;
  src: url('../assets/fonts/Andika-Regular.woff2');
}

.ipa-font {
  font-family: AndikaW;
  -moz-font-feature-settings: 'ss13';
  -webkit-font-feature-settings: 'ss13';
  font-feature-settings: 'ss13' on;
}
